.container{
  /* margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
  text-align: left;
  font-size: 15px;
  color: #424242; */
  margin-top: 100px;
 gap: 100px;
}
.container h1{
  margin: 10px;
  padding: 10px;
  margin-top: 30px;
}
.container ul li{
  margin-top: 20px;

}
.container button{
  background-color: orange;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 20px 2px;
      cursor: pointer;
}



/* ppp  html */
body {
  font-family: Arial, sans-serif;
}

.container {
  display: -moz-grid-group;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.subtitle {
  margin-top: 15px;
  align-items: center;
  color: tomato;
  font-size: 15px;
}

.section {
  display: block;
  align-items: center;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr);
 */
}

.section .icon {
  margin-right: 10px;
  display: inline-flexbox;
}

.section .text {
  font-weight: bold;
}
